<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('bundles/licweblocation/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
          #link_admin {
            float: right;
            font-weight: bold;
          }
          #link_admin a{
            color: #bd0000;
          }
          #link_admin a:hover{
            color: #ff1919;
          }
          textarea {
            height: 100px;
            width: 500px;
          }

        </style>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="{{ path('licweb_location.location_getlocations') }}">{{ 'project.title'|trans|title }}</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li class="active"><a href="{{ path('licweb_location.location_getlocations') }}">{{ 'locations'|trans|capitalize }}</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
        
        <div class="container">
        
            {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>

