<form method=post action="{{ path('licweb_location.location_addlocation') }}" {{ form_enctype(form) }}>

    {{ form_label(form.name, 'location.name'|trans|capitalize) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}

    {{ form_label(form.street, 'location.street'|trans|capitalize) }}
    {{ form_errors(form.street) }}
    {{ form_widget(form.street) }}
    
    {{ form_label(form.zipCode, 'location.zipcode'|trans|capitalize) }}
    {{ form_errors(form.zipCode) }}
    {{ form_widget(form.zipCode) }}
    
    {{ form_label(form.city, 'location.city'|trans|capitalize) }}
    {{ form_errors(form.city) }}
    {{ form_widget(form.city) }}

    {{ form_label(form.presentation, 'location.presentation'|trans|capitalize) }}
    {{ form_errors(form.presentation) }}
    {{ form_widget(form.presentation) }}
    
    {{ form_label(form.phone_number, 'location.phoneNumber'|trans|capitalize) }}
    {{ form_errors(form.phone_number) }}
    {{ form_widget(form.phone_number) }}

    {{ form_rest(form) }}

    <br/>
    <input type="hidden" name="_method" value="POST">
    <input type="submit" id="addLocation" value="{{ 'locations.add.button'|trans|capitalize }}" class="btn btn-primary" />
</form>
